Package: tg-torrent-bot
Version: 0.1
Maintainer: Kirill Fertikov
Architecture: all
Depends: nodejs
Recommends: transmission-daemon
Description: A telegram bot implementation for torrents search and download.
 You can run the bot on your home network server, and watch downloaded movies using Kodi or share them via DLNA.
